.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/

/tsweb-*/.mymetadata
/tsweb-*/.checkstyle
/tsweb-*/.classpath
/tsweb-*/.project
/tsweb-*/.class
/tsweb-*/.war
/tsweb-*/.zip
/tsweb-*/.rar
/tsweb-*/.idea
/tsweb-*/*.iml
/tsweb-*/.settings/*
/tsweb-*/indexes/*
/tsweb-*/target/*
/tsweb-*/src/main/webapp/WEB-INF/classes/*
/tsweb-*/src/main/webapp/userfiles/*
/tsweb-*/target/